.info-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.info-label {
    padding: 5px 20px;
    display: flex;

    align-items: center;

    span {
        font-weight: 700;
        padding-left: 5px;
    }
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.tag {
    padding: 5px;
}